<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="display: flex; align-items: center; width: 100%;">
    <a class="navbar-item" href="/">
      <img src="logo.png" alt="Logo" style="max-height: 3rem;" />
    </a>
    <div *ngIf="showSearchBar" class="search-container">
      <input 
        class="modern-input"
        type="text" 
        placeholder="Digite uma cidade"
        [(ngModel)]="selectedCity"
        (keyup.enter)="onSearch()"
      />
      <button class="modern-button" (click)="onSearch()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</nav>
