<footer class="footer has-background-dark has-text-white-ter">
  <div class="content has-text-centered">
    <p>
       MeteoGo by João Monteiro ©2025
    </p> 
    <div class="icons mt-3">
      <a href="https://github.com/monteiro1714" target="_blank" class="icon has-text-white mx-2">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/joaomonteiro1714/" target="_blank" class="icon has-text-white mx-2">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="mailto:joaomonteiro.1998@hotmail.com" class="icon has-text-white mx-2">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
