<!-- <div class="form">
    <input [(ngModel)]="city" placeholder="Cidade" />
    <button (click)="searchWeather()">Ver previsão</button>
  </div>
  
  <div *ngIf="loading">A carregar...</div>
  <div *ngIf="error">{{ error }}</div>
  
  <div *ngIf="weatherData">
    <h2>Previsão para {{ weatherData.city }}, {{ weatherData.country }}</h2>
  
    <div class="forecast-list">
      <div class="card" *ngFor="let day of weatherData.forecast">
        <p><strong>{{ day.date | date:'fullDate' }}</strong></p>
        <img [src]="day.icon" [alt]="day.description" />
        <p>{{ day.description }}</p>
        <p>{{ day.temperature }} °C</p>
      </div>
    </div>
  </div>
   -->